<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Opencode-Home</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top animatable fadeInDown">
    <div class="container-fluid navbar-class">
      <a class="navbar-brand" href="/">
        <img src="images/logo_plus_wordmark_white.png" width="70" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><button class="pulse">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events"><button class="pulse">Events</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><button class="pulse">Projects</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams"><button class="pulse">The Team</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"><button class="pulse">Contact Us</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br><br>

  <div class="animatable bounceIn">
    <h1 class="events-class ec-head wobble-vertical">Our Events</h1>
  </div>
  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>HackNITR</h1>
          <p>In collaboration with DSC, this hackathon kicked off last year. Scheduled to be held from 
20-22 March, the offline event was shifted to an online platform due to pandemic situations. However this didn’t affect the participation from students all across.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInRight">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>NITR Codes</h1>
          <p>In collaboration with other coding clubs, we curated tutorials on the Data structures and Algorithms weekly and provided it which helped students to get started with Competitive programming and organised contests on the same topic on Hackerearth in the weekend.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Hacktoberfest Meetups</h1>
          <p>We organise hacktoberfest meetups every year highlighting the importance of hacktoberfest for those starting their journey in the open source. It includes interesting talks,hands on sessions and a lot of goodies to be won.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInRight">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1> NITR Conclave Hackathon</h1>
          <p>We organised this hackathon at the 9th edition of NIT Conclave.Student from different Nits over the country participated in it and presented their brilliant ideas.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Preptember Series</h1>
          <p>We organised a series of 12 beginner friendly sessions on various fields such as on usage of python,getting started with web development,app development,ML,etc before hacktober fest so as to prepare them for making open source contributions. Received by  global audience,this series was very successful.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInRight">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Run.io</h1>
          <p>This was the very first hackathon organised by Opencode a few years back. It witnessed enthusiastic participation from all across the country and welcomed all the new,innovative ideas from the great young minds.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>




  <hr>
  <!-- contact -->
  <footer id="contact" class="contact-class">
    <br><br><br>
    <div class="row">
      <div class="col-md-8 contact-left animatable fadeInUp">
        <h1>Contact Info</h1>
        <p><b style="color:#FFFFFF;">Address:</b> Student Activity Centre, Sector 1</p>
        <p>National Institute of Technology, Rourkela.</p>
        <p>Odisha-India</p>
        <p>PIN:769008</p>
        <p><b style="color:#FFFFFF;">Email: </b><a href="communityopencode@gmail.com">communityopencode@gmail.com</a></p>
      </div>
      <div class="col-md-4 contact-right animatable fadeInDown">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/OpenCodeCommunity/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/opencode.nitr/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/hacknitr?lang=en"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/opencodenitr"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <br><br>
  </footer>




  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

  Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
