<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Opencode-Home</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">

  </script>
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top animatable bounceIn">
    <div class="container navbar-class">
      <a class="navbar-brand" href="/">
        <p class="pulse-grow">Opencode</p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home"><button class="pulse">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#events"><button class="pulse">Events</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects"><button class="pulse">Projects</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team"><button class="pulse">The Team</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact"><button class="pulse">Contact Us</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- home -->
  <section id="home" class="home-class">
    <br><br><br>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="home-class-left animatable bounceInLeft">
          <h1 class="hcl-head">Opencode</h1>
          <p class="hcl-subhead">The open source community of NIT Rourkela</p>
          <p class="hcl-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id leo in vitae turpis massa.</p>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="home-class-right animatable bounceInRight">
          <figure class="icon-cards mt-3">
            <div class="icon-cards__content">
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">lectus urna duis convallis convallis</span></div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">lectus urna duis convallis convallis</span></div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center"><span class="h1">lectus urna duis convallis convallis</span></div>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <h1 class="home-class-aim  animatable moveUp"><span id="aim-underline">Our Aim</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h1>
    <hr>
  </section>



  <!-- events -->

  <section id="events" class="events-class">
    <br><br><br>
    <div class="animatable bounceIn">
      <h1 class="ec-head wobble-vertical">Our Events</h1>
    </div>
    <p class="ec-body animatable moveUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo eget magna fermentum iaculis eu non. Dolor sit amet consectetur adipiscing elit. In fermentum et
      sollicitudin ac. Mauris a diam maecenas sed.</p>

    <div class="row container-fluid">
      <div class="col-md-3 col-sm-6 animatable bounceInLeft">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Event 1</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animatable bounceInLeft">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Event 2</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animatable bounceInRight">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Event 3</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animatable bounceInRight">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Event 4</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
    </div>
    <div class="ec-button animatable fadeInUp">
      <a href="/events"><button class="fill">Explore more events</button></a>
    </div>
    <hr>
  </section>



  <!-- projects -->

  <section id="projects" class="events-class">
    <br><br><br>
    <div class="animatable bounceIn">
      <h1 class="ec-head wobble-vertical">Our Projects</h1>
    </div>
    <p class="ec-body animatable moveUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo eget magna fermentum iaculis eu non. Dolor sit amet consectetur adipiscing elit. In fermentum et
      sollicitudin ac. Mauris a diam maecenas sed.</p>

    <div class="row container-fluid">
      <div class="col-md-3 col-sm-6 animatable bounceInLeft">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Project 1</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animatable bounceInLeft">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Project 2</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animatable bounceInRight">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Project 3</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animatable bounceInRight">
        <div class="ec-cards grow-rotate">
          <h1 class="ec-cards-head">Project 4</h1>
          <p class="ec-cards-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>
    </div>
    <div class="ec-button animatable fadeInUp">
      <a href="/projects"><button class="fill">Explore more projects</button></a>
    </div>
    <hr>
  </section>



  <!-- team -->
  <section id="team" class="team-class">
    <br><br><br>
    <div class="animatable bounceIn">
      <h1 class="ec-head wobble-vertical">The Team</h1>
    </div>
    <p class="ec-body animatable moveUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo eget magna fermentum iaculis eu non. Dolor sit amet consectetur adipiscing elit. In fermentum et
      sollicitudin ac. Mauris a diam maecenas sed.</p>
    <div class="row">
      <div class="col-md-12 grow animatable fadeInUp">
        <div class="tc-card-prez">
          <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
          <h1>Name</h1>
          <p>Position</p>
          <hr>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <hr>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 tc-card animatable bounceInLeft">
        <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1>Name</h1>
        <p>Position</p>
        <hr>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <hr>
      </div>

      <div class="col-md-3 tc-card animatable bounceInLeft">
        <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1>Name</h1>
        <p>Position</p>
        <hr>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <hr>
      </div>

      <div class="col-md-3 tc-card animatable bounceInRight">
        <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1>Name</h1>
        <p>Position</p>
        <hr>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <hr>
      </div>

      <div class="col-md-3 tc-card animatable bounceInRight">
        <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
        <h1>Name</h1>
        <p>Position</p>
        <hr>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <hr>
      </div>

    </div>
    <div class="events-class ec-button animatable fadeInUp">
      <a href="/teams"><button class="fill">Explore more</button></a>
    </div>
    <hr>
  </section>



  <!-- contact -->
  <footer id="contact" class="contact-class">
    <br><br><br>
    <div class="row">
      <div class="col-md-8 contact-left animatable bounceInLeft">
        <h1>Contact Info</h1>
        <p><b style="color:#FFFFFF;">Address:</b> Student Activity Centre, Sector 1</p>
        <p>National Institute of Technology, Rourkela.</p>
        <p>Odisha-India</p>
        <p>PIN:769008</p>
        <p><b style="color:#FFFFFF;">Email: </b><a href="mailto:xyz@gmail.com">xyz@gmail.com</a></p>
      </div>
      <div class="col-md-4 contact-right animatable bounceInRight">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <br><br>
  </footer>




  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>

</html>
