<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Opencode-Home</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top animatable fadeInDown">
    <div class="container-fluid navbar-class">
      <a class="navbar-brand" href="/">
        <img src="images/logo_plus_wordmark_white.png" width="70" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><button class="pulse">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events"><button class="pulse">Events</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><button class="pulse">Projects</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams"><button class="pulse">The Team</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"><button class="pulse">Contact Us</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br><br>


  <div class="animatable bounceIn">
    <h1 class="events-class ec-head wobble-vertical">Our Projects</h1>
  </div>

  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Project-apollo / Project Artemis</h1>
          <p>A project that is specifically dedicated for the official website of OpenCode, NIT Rourkela.</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInRight">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>SADRAT - Smart Adverse Drug Reaction Assessment Tools</h1>
          <p>A smart adverse drug Reaction assessment toolkit that predicts outcome of a drug among a targeted population.
Social media can be an important source of indicating Adverse Drug Reactions and   analyzing disease trends in a population, the prediction of future disease trends from social media data in a population under study is a challenging task and breakthroughs have not been made in this direction. Also, another epidemiologic challenge that demands to be solved is predicting possible reason(s) behind the appearance of such trends for further verification and validation of the Early Warning System.
SADRAT would tackle the above-mentioned issues providing the pharmaceutical companies with the necessary parameters and predictive outcomes while targeting a particular population based on pivots such as season, age, gender, race, etc.
</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>DelDash</h1>
          <p>DelDash is an Intelligent Deliveries Dashboard and analytics accelerator for Healthcare Providers .
A dashboard that provides all the details regarding a delivery along with the analytics related to the same which would help healthcare providers to have a better and technically advanced grip over any situation. 
</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInRight">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Hephaestus</h1>
          <p>
Hephaestus contains small automation/crazy/fun projects made using Python Programming Language.
Games like StarWars Lite are built by our python geeks to enable the gaming arena to rise from the earliest home consoles to our PCs!
Avail the games under this project by just starring our repository.
</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Track-I App</h1>
          <p>
A desktop based Application that ensures a healthy blinking rate while we spend time on screen!
The Application starts whenever a face is detected, hence no possibility of incorrect results. The application then starts tracking eye movements and counts blinking rate and alerts a notification to the user incase of a low blinking rate along with a detailed analysis of your blinking rate with graphs and remedies. 
</p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInRight">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Room Automation</h1>
          <p>
A DIY module that enables remote control of electronic and electrical appliances within a room.
In this project, we have used a total 8 control switches that enables automating 3 fans, 3 lights and 2 other random electrical equipments. If WiFi hotspot is unavailable, it automatically switches to Access point mode and creates it's own network (IOT-NETWORK) through which communication occurs.
p>
        </div>
        <div class="col-md-4 ei-right">
          <img src="images/dummy.jpg" alt="event-picture">
        </div>
      </div>
    </div>
  </div>

  <div class="animatable bounceInLeft">
    <div class="container event-individual float">
      <div class="row">
        <div class="col-md-8 ei-left">
          <h1>Diamond Project</h1>
          <p>A ML-based project which predicts the price of a diamond based on its different characteristics like carat, cut, color etc..</p>
        </div>
        <div class="col-md-4 ei-right">
           <a href='https://github.com/ankitoscar/diamond-project'>
              <img src="images/loots-worth.jpg" alt="event-picture">
           </a>
        </div>
      </div>
    </div>
  </div>



  <hr>
  <!-- contact -->
  <footer id="contact" class="contact-class">
    <br><br><br>
    <div class="row">
      <div class="col-md-8 contact-left animatable fadeInUp">
        <h1>Contact Info</h1>
        <p><b style="color:#FFFFFF;">Address:</b> Student Activity Centre, Sector 1</p>
        <p>National Institute of Technology, Rourkela.</p>
        <p>Odisha-India</p>
        <p>PIN:769008</p>
        <p><b style="color:#FFFFFF;">Email: </b><a href="communityopencode@gmail.com">communityopencode@gmail.com</a></p>
      </div>
      <div class="col-md-4 contact-right animatable fadeInDown">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/OpenCodeCommunity/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/opencode.nitr/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/hacknitr?lang=en"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/opencodenitr"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <br><br>
  </footer>




  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

  Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
