<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Opencode-Team</title>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top animatable fadeInDown">
    <div class="container-fluid navbar-class">
      <a class="navbar-brand" href="/">
        <img src="images/logo_plus_wordmark_white.png" width="70" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><button class="pulse">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events"><button class="pulse">Events</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><button class="pulse">Projects</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teams"><button class="pulse">The Team</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"><button class="pulse">Contact Us</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br><br>


  <section id="team" class="team-class">
    <br><br><br>
    <div class="animatable bounceIn">
      <h1 class="ec-head wobble-vertical">The Team</h1>
    </div>
    <p class="ec-body animatable moveUp">"A good team needs three things: the right people, the right spirit and a couple inside jokes."</p>
    <div class="row" style="margin-bottom: 1rem;">
      <div class="col-lg-12 animatable grow fadeInUp">
        <div class="image-card" style="height: 330px; width: 330px;">
          <img src="images/vedant.jpeg">
            
          <div class="details" style="padding: 0.5rem 0;">
            <h2>Vedant</h2>
            <p>President<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
    </div>

    

      <section id="team-page">

        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
            <div class="image-card" style="height: 330px; width: 330px;">
              <img src="images/ankit.jpg">
                
              <div class="details" style="padding: 0.5rem 0;">
                <h2>Ankit</h2>
                <p>Vice President<p/>
              </div>
              <ul>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
                <li><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
                <li><a href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
            <div class="image-card" style="height: 330px; width: 330px;">
              <img src="images/sudhansu.jpg">
                
              <div class="details" style="padding: 0.5rem 0;">
                <h2>Sudhansu</h2>
                <p>Vice President<p/>
              </div>
              <ul>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
                <li><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
                <li><a href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
            <div class="image-card" style="height: 330px; width: 330px;">
              <img src="images/smruti.jpg">
                
              <div class="details" style="padding: 0.5rem 0;">
                <h2>Smruti</h2>
                <p>Secretary<p/>
              </div>
              <ul>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
                <li><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
                <li><a href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
            <div class="image-card" style="height: 330px; width: 330px;">
              <img src="images/ashutosh.jpg">
                
              <div class="details" style="padding: 0.5rem 0;">
                <h2>Ashutosh</h2>
                <p>Treasurer<p/>
              </div>
              <ul>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
                <li><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
                <li><a href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
              </ul>
            </div>
          </div>
          
        
        
    </section>


    </div>
    <hr>
  </section>


  <div class="animatable bounceIn">
    <h1 class="events-class ec-head wobble-vertical">Core Team</h1>
  </div>

  <!-- NOTE: IMAGE MUST BE OF EITHER 4:3 OR 1:1 ASPECT RATIO -->

  <section id="team-page">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
        <div class="image-card">
          <img src="images/team/astha.jpeg">
            
          <div class="details">
            <h2>Astha Nayak</h2>
            <p>App Development<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/upbeat._.phantom/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/nayakastha" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="http://www.linkedin.com/in/astha-nayak-an2001" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
        <div class="image-card">
          <img src="images/team/ankita.jpeg">
            
          <div class="details">
            <h2>Ankita Sareen</h2>
            <p>Machine Learning<p/>
          </div>
          <ul>
            <li><a href="https://instagram.com/ankitaaaaa_11?igshid=6t45e5xi71ec" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/Ankitasareen" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/ankita-sareen-a85689199/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
        <div class="image-card">
          <img src="images/team/ritesh.jpeg">
            
          <div class="details">
            <h2>Ritesh Patil</h2>
            <p>Web Development<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/riteshp2000/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/riteshsp2000" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/ritesh-patil-6049631a0/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
        <div class="image-card">
          <img src="images/team/pritish.jpeg">
            
          <div class="details">
            <h2>Pritish Samal</h2>
            <p>Web Development<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/pritish__007/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/CIPHERTron" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/pritishsamal/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
        <div class="image-card">
          <img src="images/team/tanishq.jpg">
            
          <div class="details">
            <h2>Tanishq Dubey</h2>
            <p>Machine Learning<p/>
          </div>
          <ul>
            <li><a href="http://www.instagram.com/tanishq_the_best" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="http://www.github.com/tanishq12442" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/mwlite/in/tanishq-dubey-893043190" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
        <div class="image-card">
          <img src="images/team/shikhar.JPG">
          <div class="details">
            <h2>Shikhar Verma</h2>
            <p>Competitive Coding<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/_toy.man_/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/ToymanShikhar" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/toyman043/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
        <div class="image-card">
          <img src="images/team/divyanshu.jpg">
            
          <div class="details">
            <h2>Divyanshu Anand</h2>
            <p>Competitive Coding<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/_angry.momo/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/divyanshuanand02" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/divyanshu-anand-39989719a" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
        <div class="image-card">
          <img src="images/team/saswat.jpg">
          <div class="details">
            <h2>Saswat Mishra</h2>
            <p>Web Development<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/saswat._.mishra/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/SaswatM-62" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/saswatmishra71/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
        <div class="image-card">
          <img src="images/team/atul.jpg">
            
          <div class="details">
            <h2>Atul Panigrahy</h2>
            <p>Competitive Coding<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/atulanandapanigrahy/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/Atul-Panigrahy" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/atulananda-panigrahy-b753771a5/" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animatable bounceInLeft">
        <div class="image-card">
          <img src="images/team/sanjog.jpg">
            
          <div class="details">
            <h2>Sanjog Panda</h2>
            <p>App Development<p/>
          </div>
          <ul>
            <li><a href="https://instagram.com/san_jog8100?igshid=iyd0qjo4t95x" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/sanjogpanda2001" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/sanjog-panda-721716194" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animatable bounceInRight">
        <div class="image-card">
          <img src="images/team/rahul.jpg">
            
          <div class="details">
            <h2>Rahul.b</h2>
            <p>Web Development<p/>
          </div>
          <ul>
            <li><a href="https://www.instagram.com/rahul.b_02/" target="_blank"><i class="fa fa-instagram"></i></a><span>Instagram</span></li>
            <li><a href="https://github.com/haru-02/" target="_blank"><i class="fa fa-github"></i></a><span>GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/rahul-balaji-b1aa491a6" target="_blank"><i class="fa fa-linkedin-square"></i></a><span>LinkedIn</span></li>
          </ul>
        </div>
      </div>
    </div>
    
</section>





  <hr>
  <!-- contact -->
  <footer id="contact" class="contact-class">
    <br><br><br>
    <div class="row">
      <div class="col-md-8 contact-left animatable fadeInUp">
        <h1>Contact Info</h1>
        <p><b style="color:#FFFFFF;">Address:</b> Student Activity Centre, Sector 1</p>
        <p>National Institute of Technology, Rourkela.</p>
        <p>Odisha-India</p>
        <p>PIN:769008</p>
        <p><b style="color:#FFFFFF;">Email: </b><a href="communityopencode@gmail.com">communityopencode@gmail.com</a></p>
      </div>
      <div class="col-md-4 contact-right animatable fadeInDown">
        <img src="images/nitr.png" alt="" width="45%" height="45%" style="margin:2% 2%;display:inline;">
        <a href="https://bit.ly/34YIx3d"><img src="images/nitrdevs.png" alt="" width="45%" height="45%" style="margin:2% 2%;display:inline;"></a>
        <br>
        <a href="https://bit.ly/34YIx3d" style="color:white;font-size:0.9em;">Click here to join NITRDevs</a>
        
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/OpenCodeCommunity/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/opencode.nitr/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/hacknitr?lang=en"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/opencodenitr"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <br><br>
  </footer>




  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

  <!-- Option 2: jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>
